.table-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    display: inline;
}

.help {
    display: inline;
}
table {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    alignment: center;
    margin-left:auto;
    margin-right:auto;
    opacity: .9;
}

td,
th {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    min-height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 33%;
}

tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd) {
    background-color: #cacaca;
}
b{
    margin-top: 10px;
    display: inline-block;
}
.icon-img{
    max-width: 30px;
    max-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
}
.info-img {
    max-height: 50px;
    height: 2.5em;
    width: 2.5em;
    max-width: 50px;
    top: -10px;
    position: relative;
    filter: invert(100%);
}
.main-container{
    width: 60%;
    margin:0 auto;
    alignment: center;
}

.overlay-back {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: .7;
    top: 0;
}

.overlay {
    width: 70%;
    left: 15%;
    background-color: white;
    top: 0;
    position: relative;
    top: 10%;
}

.overlay-title {
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}