<div class="main">
    <div class="title">Download the App Here</div>
    <p>Hello, thanks for checking out our app!</p>
    <p>Before actually downloading our app we need to add a disclaimer:</p>
    <p><b>If you are not part of the 2018 Riot API Challenge judging comittee, DO NOT DOWNLOAD THIS</b></p>
    <br>
    <p>Now if you are one of the judges, click on the link below to download our app</p>

    <a href="" class="download-link">DOWNLOAD</a>

    <div class="sub-title">Instructions for Use</div>
    <hr style="background-color: white;">
    <p>TODO</p>
</div>